@use '../../../variables';

.button {
    background-color: variables.$color-background-dark;
    border: none;
    box-shadow: variables.$box-shadow;
    color: variables.$color-foreground-light;
    width: 15.5625rem;
    height: 3.375rem;
    font-size: 1.125rem;
    border-radius: 0.625rem;
}