* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Ubuntu';
  src: 
    local('Ubuntu'),
    url('/fonts/ubuntu/Ubuntu-Regular.tff') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Ubuntu'),
    url('/fonts/roboto/static/Roboto-Regular.tff') format('ttf');
}

@font-face {
  font-family: 'RacingSansOne';
  src: 
    local('RacingSansOne'),
    url('/fonts/racing-sans-one/RacingSansOne-Regular.tff') format('ttf');
}

body {
  font-family: Ubuntu, sans-serif;
  max-width: 48rem;
}

body .welcome {
  font-family: RacingSansOne, sans-serif;
}