@use '../../../variables';


.welcome {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100dvh;

    &__text {
        grid-row: 2 / 3;
    }

    &__heading {
        font-size: 2.25rem;
        text-transform: uppercase;
        margin-inline-start: 2.75rem;
        color: variables.$color-foreground-light;
        text-shadow: -2px -2px variables.$color-brand-dark, -2px 2px variables.$color-brand-dark, 2px -2px variables.$color-brand-dark, 2px 2px variables.$color-brand-dark,;
        
        &--stroke-bold {
        }
        
        &--accent {
            display: block;
            color: variables.$color-brand-light;
            text-shadow: -1px -1px variables.$color-brand-dark, -1px 1px variables.$color-brand-dark, 1px -1px variables.$color-brand-dark, 1px 1px variables.$color-brand-dark,;
            font-size: 4.5rem;
            text-transform: uppercase;
            font-style: italic;
            line-height: 65%;
        }
    }
    
    &__colored-line {
        margin-block-start: 1rem;
        width: 60%;
        height: 1rem;
        background-color: variables.$color-brand-medium;
        box-shadow: variables.$box-shadow;
    }

    &__button-container {
        grid-row: 3 / 4;
        align-self: self-end;
        justify-self: center;
        padding-block-end: 3.3125rem;
    }
}