@use '../../../../variables';

.activity-page__wrapper {
    background-color: variables.$color-background-dark;
    display: grid;
    grid-template-areas: 
        'header',
        'main',
        'footer'
    ;
    height: 100dvh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    overflow: hidden;

    header {
        grid-area: header;
        grid-row: 1 / 2;
        grid-column: 1 / 4;
        color: variables.$color-foreground-light;
    }

    main {
        grid-area: main;
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        overflow: hidden scroll;
        scroll-behavior: smooth;
    }

    footer {
        grid-area: footer;
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }
}

.activity {
    padding: 1.125rem 1.7rem;
    color: variables.$color-foreground-light;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &__heading {
        font-size: 1.5rem;
    }

    .line-break {
        display: block;
        padding-block-end: 1rem;
    }
}