@use '../../variables';

.common-layout__wrapper {
    background-color: variables.$color-background-dark;
/*     display: grid;
    grid-template-areas: 
        'header',
        'main',
        'footer'
    ;
    height: 100dvh;
    grid-template-rows: auto 1fr auto;
    overflow: hidden; */

    header {
        /* grid-area: header;
        grid-row: 1 / 2; */
        padding: 2rem 2rem 0 2rem;
        color: variables.$color-foreground-light;
    }

/*     main {
        grid-area: main;
        grid-row: 2 / 3;
    }

    footer {
        grid-area: footer;
        grid-row: 3 / 4;
    } */
}