@use '../../../../variables';

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__input {
        width: 100%;
        background-color: variables.$color-foreground-light;
        color: variables.$color-foreground-medium;
        border: none;
        padding: 0.75rem 1rem;
    }

    &__error-message {
        color: red;
        padding-inline: 1rem;
        line-height: 1.5rem;
        background-color: variables.$color-foreground-light;
    }
    
    &__button {
        margin-block-start: 1rem;
        align-self: center;
    }

    &__error-message-general {
        color: red;
    }
}

.form-loading-text {
    color: variables.$color-foreground-light;
}