$color-foreground-light: #eaeaea;
$color-foreground-dark: #000;
$color-foreground-medium: #999;
$color-background-light: #e1a1e9cc; 
$color-background-dark: #5e2e53;
$color-brand-light: #e856eb;
$color-brand-medium: #913693;
$color-brand-dark: #431567;
$color-light-overlay: #c4c4c44d;
$color-dark-overlay: #5e2e5380;
$color-inactive: #00000080;

$box-shadow: 0px 4px 4px 4px #00000040;
